.back-button {
  color: black;
  margin: 2%;
  text-decoration: none;
}

.shopping-cart-container {
  border: 1px solid black;
  flex-grow: 1;
  height: 100vh;
  margin: 1%;
  padding: 1%;
}

.back-button-text {
  margin-left: 0.5%;
}

.back-button-text:hover {
  font-weight: 900;
}

.row {
  display: flex;
}

.itens-container {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.item-quantity {
  display: flex;
  flex-direction: row;
}

.item-title {
  margin: 0 3%;
}
