.product-detail-container {
  border: 1px solid black;
  margin: 1%;
  padding: 1%;
}

.top-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 2%;
}

.product-row {
  display: flex;
}
